{{#if name }}
  Hello {{name}}
{{/if}}


<h1>{{results.[0].id}}</h1>

<h1>{{results.[0].restaurant_name}}</h1>
Address: {{results.[0].address}}
<br />
Category: {{results.[0].category}}
<br />


<!-- multiple reviews per restaurant -->

  <h2>Reviews</h2>
  {{#each results}}
  <p>
      <strong>{{title}}</strong>
    <!-- <p>Name: {{reviewer_name}}</p> -->
    Stars: {{stars}}
    Review: {{review}}
    </p>
  {{/each}}



<form action="/submit_review" method="GET">
  <input type="hidden" name="id" value="{{results.[0].id}}">
  <button type="submit">Submit</button>
</form>
