{{#if name }}
  Hello {{name}}
{{/if}}


<h1>{{results.[0].id}}</h1>

<h1>{{results.[0].restaurant_name}}</h1>
<p>Address: {{results.[0].address}}</p>
<p>Category: {{results.[0].category}}</p>


<!-- multiple reviews per restaurant -->

  <h2>Reviews</h2>
  {{#each results}}
    <h3>{{title}}</h3>
    <!-- <p>Name: {{reviewer_name}}</p> -->
    <p>Stars: {{stars}}</p>
    <p>Review: {{review}}</p>
  {{/each}}



<form action="/submit_review" method="GET">
  <input type="hidden" name="id" value="{{results.[0].id}}">
  <button type="submit">Submit</button>
</form>
